<% layout('./layouts/boilerplate') -%>
<div class="home-container">
<h1>
    Interview Code 
</h1>
<%- include('./partials/table') %>

<div class="btn management-link">
<a href="/management/<%=data._id%>">Manage Table</a>
</div>
<div class="online-links">
    <a href="https://www.linkedin.com/in/mostafa-elsouifi-4589771ab" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="">
        <i class="fab fa-github"></i>
    </a>   
</div>
</div>